<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="main.css" type="text/css">
  <script src="main.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">

      <div  class="app-name">
        <h1>Searching For Sunshine!</h1>
        <h3>Photo voting Application</h3>
      </div>
      
      <div class="view-blk">
        <a id=" photo-link-wrapper" class="" href="">
          <img id="photo-view" src="http://via.placeholder.com/800x500">
        </a>
      </div>     
        
      <div class="count-blk like">
        <span>5000</span>
      </div>


      <div class="vote-blk">

          <div class="up">
            <a id="like-vote" href="/like-vote">
                <!-- <img class="vote-btn up" src="vote-btn.svg"> -->
                <svg  width="150" height="150" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                  <path class="like-btn" d="M 256.00,0.00C 114.624,0.00,0.00,
                          114.624,0.00,256.00c0.00,141.392,
                          114.624,256.00, 256.00,256.00c 141.392,0.00,
                          256.00-114.608, 256.00-256.00C 512.00,114.624,
                          397.392,0.00,
                          256.00,0.00z M 256.00,384.00 l-128.00-128.00l
                          96.00,0.00 L 224.00,128.00 l 64.00,0.00 l0.00,
                          128.00 l 96.00,0.00 L 256.00,384.00z"
                          fill="Snow" stroke="black" stroke-width="10" >
                  </path>
                </svg>
            </a>
          </div>

          <div>
            <img class="judge-mills" src="https://goo.gl/SLTwcc" alt="Let's Get It On!">
          </div>

          <a id="dislike-vote" href="/dislike-vote">
              <svg width="150" height="150" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
              <path id="dislike-btn" d="M 256.00,0.00C 114.624,0.00,0.00,
                       114.624,0.00,256.00c0.00,141.392,
                       114.624,256.00, 256.00,256.00c 141.392,0.00,
                       256.00-114.608, 256.00-256.00C 512.00,114.624,
                       397.392,0.00,
                       256.00,0.00z M 256.00,384.00 l-128.00-128.00l
                       96.00,0.00 L 224.00,128.00 l 64.00,0.00 l0.00,
                       128.00 l 96.00,0.00 L 256.00,384.00z"
                       fill="Snow" stroke="black" stroke-width="10" >
              </path>
              </svg>
          </a>

      </div>


      <div class="count-blk dislike">
        <span>5000</span>
      </div>
      
    </div>
    
    
    <!-- <script src="jamQ.js" type="text/javascript"></script> -->
  
  </body>

</html>