<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="main.css" type="text/css">
  </head>
  <body>
    <div class="container">

      <div  class="app-name">
        <h1>Searching For Sunshine!</h1>
        <h3>Photo voting Application</h3>
      </div>
      
      <div class="view-blk">
        <a class="" href="">
          <img src="http://via.placeholder.com/800x500">
        </a>
      </div>     
        
      <div class="count-blk like">
        <span>5000</span>
      </div>


      <div class="vote-blk">

          <a id="like-btn" href="">
              <img class="vote-btn up" src="vote-btn.svg">
          </a>

          <div>
            <img class="judge-mills" src="https://goo.gl/SLTwcc" alt="Let's Get It On!">
          </div>

          <a id="dislike-btn" href="">
              <img class="vote-btn" src="vote-btn.svg">
          </a>

      </div>


      <div class="count-blk dislike">
        <span>5000</span>
      </div>
      
    </div>
    
    
    <script src="jamQ.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
  </body>

</html>