.container {  
  display: grid;
  grid-template-columns: 2.5fr 4fr 2.5fr;
  grid-template-rows: 1 fr 3fr 2fr;
  grid-template-areas: 
  "login title . "
  ". photo ."
  "likes count dislike"
}
.login {
  grid-area: login;
}
.title {
  
}