/* GRID */
.container {  
  display: grid;
  grid-template-columns: [start] 1fr 5fr 1fr [end];
  grid-template-rows: 1 fr 3fr [vote] 2fr;
  grid-template-areas: 
  "login title . "
  ". photo ."
  "like vote dislike"
}
.login {
  grid-area: login;
}
.app-name {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .view-border {
  box-sizing: border-box;
} */
.view-blk {
  grid-area: photo;
  justify-self: center;
  border: 5px solid rgba( 0, 0, 0, 0);
}
.view-blk:hover {
  border: 5px dashed hotpink;
}
.view-blk:visited {
  border: 5px double lime;
}
.vote-blk{
  grid-area: vote;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px
}
.count-blk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  font-size: 80px;
  text-align: right;
}
.like {
 grid-area: like;
 position: relative;
 left: 120px;
}
.dislike {
  grid-area: dislike;
  position: relative;
  left: -120px;
}

/* ICON/IMG Styling */

.vote-btn {
  width: 150px;
  justify-self: center;
}
.up {
  transform: rotate(-180deg);
}

.judge-mills {
  width: 225px;
  justify-self: center;
  margin: 0px 30px
}
body {
  background: linear-gradient(268deg, #d2e17f, #69c0ea, #ea696e);
  background-size: 110% 110%;
  
  -webkit-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:90% 0%}
      50%{background-position:11% 100%}
      100%{background-position:90% 0%}
  }
  @keyframes AnimationName { 
      0%{background-position:90% 0%}
      50%{background-position:11% 100%}
      100%{background-position:90% 0%}
  }
  