<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="../../public/main.css" type="text/css">
  </head>
  <body>

    <h1>Searching For Sunshine!</h1>
    <h3>Photo voting</h3>
    
  
    <script src="../../public/client.js" type="text/javascript"></script>
  </body>

</html>